header {
  padding: $spacingMedium;
  background: $white;
  color: #f1f1f1;
}

nav {
  float: right;
  margin-top: 20px;
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin: 0 10px;
    color: $blue;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.site-info {
  float: left;
  margin-top: 20px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;

  a {
    color: $darkGray;
  }
}