---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "svg_icons";

@import "base";
@import "header";
@import "footer";
@import "posts";

//
// STYLES
//

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
}

.content {
  padding-top: 102px; // to offset the stick
  padding-bottom: 102px; // to offset the footer
}

.media {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.media_figure {
  margin: $spacingMedium;
  text-align: center;

  @include mobile {
    flex-grow: 1;
  }
}

.media_body {
  flex: 1;
  min-width: 250px;
  margin: $spacingMedium;
}

.avatar {
  width: $sizeSmall;

  img {
    border-radius: 50%;
  }
}
